#navbar {
  background-color: mintcream;
  font-family: 'Shadows Into Light', cursive;
}
#home {
  background-color: mintcream;
  padding: 200px;
}
.jumbotron {
  background-color: mintcream;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}
  
#about {
  background-color: transparent;
  padding: 150px;
  font-family: 'Shadows Into Light', cursive;
}

.figure {
  float: left;
  width: 50%;
}
#contact {
  background-color: mintcream;
  padding: 150px
  /* font-family: 'Shadows Into Light', cursive; */
}
.form-group {
  font-family: 'Shadows Into Light', cursive;
}
.btn-send {
  font-family: 'Shadows Into Light', cursive;
}
#footer {
  background-color: mintcream;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}


